<htmp>
    <head>
    </head>

    <body>
        <h1>Welcome to csrf Project</h1>
        <h3>Your secret message is:{{.SecretMessage}}</h3>
        <form name="logout"> Logout </form>
        <form name="deleteUser"> deleteUser </form>
    </body>
</html>